body {
    background-color:#c6ec98;
    color: #103c1e;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:40px;
}

.aligncenter {
    text-align:center;
}

.journal {
    border: solid #103c1e 2px;
    margin-left:40px;
    margin-bottom:10px;
    padding:40px;
    padding-bottom:80px;
    max-width:700px;
}