body {
    background-color:#cef7fb;
    color:#36596c;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:100px;
    margin-right:100px;
}

p {
    font-size:15px;
}

a:link {
    color:#7cbcbb;
}

a:visited {
    color:#7cbcbb;
}

a:hover {
    color:#7cbcbb;
}

a:active {
    color:#7cbcbb;
}

.alignright {
    text-align:right;
}

.aligncenter {
    text-align:center;
}

.alignjustify {
    text-align:justify;
}

.italic {
    font-style:italic;
}

.bold {
    font-weight:bold;
}

.gradient {
    background: linear-gradient(360deg, #36596c 0%, #cef7fb 100%);
}

.gradient2 {
    background: linear-gradient(360deg, #ffffff 0%, #cef7fb 100%);
}

.gradient4 {
    background-image: linear-gradient(to bottom,#cef7fb,#cef7fb,#cef7fb,#f6ff7b,#3eb66c,#cef7fb);
}