* {
  box-sizing: border-box;
}

img {
    max-width:100%;
}

body {
  background-color:black;
  color: azure;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.title {
  display:inline-block;
  text-align: center;
  padding:50px;
  font-size:30px;
}